.contact-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-header {
  font-size: 2.5rem;
  margin: 0px;
}

.contact-message {
  font-size: 1.5rem;
  margin-bottom: 0px;

  a {
    color: #007bff;
  }
}