.skill-icon {
    // font-size: 100px; /* Adjust size as needed */
    font-size: 6vw;
    transition: transform 0.2s;
    margin-left: 100px;
}

.skills-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Dynamic column adjustment */
    // grid-auto-rows: minmax(200px, auto);
    grid-auto-rows: auto;
    gap: 40px;
    justify-items: center;
    max-width: 90%;
}

.skill-icon:hover {
    transform: scale(1.1);
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Smaller min size for smaller screens */
    }
    .skill-icon {
        font-size: 6vw; /* Larger relative size for smaller screens */
    }
}